@{
    ViewData["Title"] = "About Me";
}
<h2 class="text-primary">Tha'er M. Al-Ajlouni</h2>
<h4 class="text-info">Senior Software Engineer</h4>

<div class="col-md-12">
    <img class="img-thumbnail pull-right m-15" src="~/images/personal.png" width="150" />
    <p class="text-justify m-t-20">
        I am a Software Engineer, mostly interested in web development and technologies, hungry for knowledge and like helping others :)
        <br />
        <br />
        I started my official development career in 2012, and I am still passionate as if it's my first day.
        <br />
        <br />
        Most of the time, I use <code>C#</code> to build <strong>ASP.Net MVC</strong> apps, with the aid of <code>HTML5</code>, <code>CSS3</code> and <code>JavaScript</code>. After more years spent with web apps, I started using more advanced back-end and front-end, on the back-end I developed apps for Azure using Azure SDKs (such as the <strong>Service Fabric</strong> and the <strong>Service bus</strong>). And on the front-end side I used frameworks and languages such as <code>Bootstrap</code>, <code>Angular</code> and <code>Typescript</code>.
        <br />
        <br />
        Starting in 2017, I got more involved in architectural challenges and tasks, supporting DevOps and the automation team, and started leading and training other team members.
        <br />
        <br />
        For more details you can check my <a href="https://jo.linkedin.com/in/tha-er-m-k-al-ajlouni/en" target="_blank">LinkedIn</a>, my <a href="https://stackoverflow.com/users/6427646/thaer-m-al-ajlouni?tab=topactivity" target="_blank">StackOverflow</a> or my <a href="https://github.com/ThaerAlAjlouni" target="_blank">GitHub</a>.
    </p>
</div>
